@import "mixins/responsive.sass"
$pale1: #ffffff
$accent1: #ffffcb
$accent2: #FECDAA
$accent3: #F46036
$dark1: #474350

*
    box-sizing: border-box
    color: $dark1

body
    display: flex
    flex-direction: column
    align-items: center
    font-family: Raleway
    background: $pale1 /* Old browsers */
    background: -moz-linear-gradient(-30deg, $pale1 70%, $accent2 70%) /* FF3.6-15 */
    background: -webkit-linear-gradient(-30deg, $pale1 70%,$accent2 70%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(150deg, $pale1 70%,$accent2 70%)  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat
    min-height: 100vh
    margin: 0
    padding: 1em
    @include breakpoint(xs)
        font-size: 3.0em
    @include breakpoint(sm)
        font-size: 2em
    @include breakpoint(md)
        font-size: 1.5em
    @include breakpoint(lg)
        font-size: 1.2em

h1
    font-size: 5em
    user-select: none
    color: $dark1
    margin: 0.5em

#container
    background-color: white
    box-shadow: 1px 1px 5px $dark1
    width: 100%
    padding: 0.5em
    border-radius: 0.3em
    margin-bottom: 1em
    max-width: 900px
    #todoInput
        padding: 0.5em
        width: 100%
        border-radius: 0.3em
        border: 1px solid $accent3
        font-family: Raleway
        font-size: 1em
        &::placeholder
            color: $accent3
    #todoList
        display: none
        list-style: none
        padding: 0
        li
            padding: 0.5em
            display: flex
            flex-direction: row
            align-items: center
            .checkmark
                display: flex
                top: 0
                left: 0
                height: 1em
                width: 1em
                background-color: $accent2
                justify-content: center
                align-items: center
                border-radius: 50%
                &:after
                    content: ""
                    display: none
                    width: 0.25em
                    height: 0.5em
                    border: solid $pale1
                    border-width: 0 3px 3px 0
                    -webkit-transform: rotate(45deg)
                    -ms-transform: rotate(45deg)
                    transform: rotate(45deg)
                    margin-top: -3px    
            .checkbox
                position: absolute
                opacity: 0
                cursor: pointer
                height: 0
                width: 0
                border-radius: 50%
                &:checked ~ .checkmark
                    background-color: $accent2
                    &:after
                        display: inline-block
            label
                margin-right: 1em
                border-radius: 50%
                &:hover
                    background-color: $accent3
                    input ~ .checkmark
                        background-color: $accent3
            p
                flex-basis: 100%
                line-height: 1em
                margin: 0 1em 0 0
                user-select: none 
            .completed
                text-decoration: line-through
                color: $accent2
            .todoItemEdit
                flex-basis: 100%
                line-height: 0.8em
                margin: 0 1em 0 0
                border-radius: 0.3em
                padding: 0 0 0 0.5em
                width: 100%
                border-radius: 0.3em
                border: 1px solid $accent1
                font-family: Raleway
                font-size: 1em
            button
                background-color: white
                border: none
                padding: 0.3em
                border-radius: 0.3em
                color: red
                text-align: center
                font-size: 0.7em
                font-family: Raleway
                font-weight: bold
                line-height: 1em
                user-select: none 
                &:hover
                    color: white
                    background-color: red
                &:active
                    color: red
                    background-color: $accent2
                    border: 2px solid red
    #controls
        display: none
        justify-content: space-between
        button
            background-color: white
            border: 1px solid $accent2
            padding: 0.4em 1em
            border-radius: 0.3em
            user-select: none
            font-size: 1em
            color: $accent2
            &:hover
                background-color: $accent3
                color: white
            &:active
                background-color: grey
                color: white                 
    input:focus, select:focus, textarea:focus, button:focus
        outline: none

